
@media (min-width: 576px){

}


body{
  background-color: white;
  
}

*{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.hiddenDrop {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  left: 25%;
  z-index: 100;
  animation-delay: 1s;
}

.topMain:hover .hiddenDrop { 
  opacity: 1;

}

h1, h2, p{
  color: white;
}
.topMain{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 5%;
}

.Article1{
  background-color: #33a8dd;
}
.Article2{
  background-color: #f46731;
}

.Article3{
  background-color: #2bcdc0;
}

.btmMain{
  background-color:#1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  height:auto;
  text-align: center;
  padding: 2%;
  border: 0px;
}

.baconBits{
  padding: 0%;
}

.baconBits h2{
  padding-top: 12px;

}
