
@media (max-width: 576px){
  div.btmMain{
    
    flex-direction: column;
  }
}

body{
  background-color: white;
  
}

*{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.hiddenDrop {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  left: 25%;
  animation-delay: 1s;
}

.topMain:hover .hiddenDrop { 
  opacity: 1;

}

h1, h2, p{
  color: white;
}
.topMain{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #2bcdc0;
  height: 300px;
}


.btmMain{
  background-color:#1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  height:auto;
  text-align: center;
  padding: 2%;
  border: 0px;
}

.baconBits{
  padding: 10%;
}

.baconBits h2{
  padding-top: 12px;

}
.B1{
  border-top: 25px solid #33a8dd;
  padding-top: 10px;
}
.B2{
  border-top: 25px solid #f46731;
  padding-top: 10px;
}
.B3{
  border-top: 25px solid #2bcdc0;
  padding-top: 10px;
}