<style>
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
</style> 


@media (min-width: 576px){
}

@media (min-width: 576px) {

}

body, a{
  background-color: white;
  
}

.hiddenDrop {
  height: 50px;
  position: absolute;
  background-color: #f46731;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 98%;
  opacity: 0;
  font-family: 'Lato', sans-serif;
  animation-name: ;
}

.hiddenDrop:hover{
  opacity: 1;
}
.menuItem{
  
}

h1, h2, p{
  color: white;
}
.topMain{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #2bcdc0;
  height: 300px;
}


.btmMain{
  background-color:#1b1b1b;
  display: flex;
  justify-content: center; 
  align-items: center;
  height:300px;
  text-align: center;
  padding: 2%;
  border: 0px;
}

.baconBits{
  padding: 10%;
}

.baconBits h2{
  padding-top: 12px;

}
.B1{
  border-top: 25px solid #33a8dd;
  padding-top: 10px;
}
.B2{
  border-top: 25px solid #f46731;
  padding-top: 10px;
}
.B3{
  border-top: 25px solid #2bcdc0;
  padding-top: 10px;
}